table {

    border: 1px solid black;
    border-collapse: collapse;


}

.almuerzo {

    text-align: center;


}

.m08 {

    background-color: aqua;

}

.m06 {

    background-color: green;


}

.m04 {

    background-color: hotpink;

}

.m07 {

    background-color: khaki;

}

.m10 {

    background-color: mediumpurple;

}