
.curri {

    text-align: center;
    color: green;

}

.info {

    background-color: orange;

}

.nacio {

    background-color: rgb(14, 219, 7);


}

.estudios {

    background-color: indianred;

}

.idiomas {

    background-color: skyblue;

}

.botones{

    background-color: grey;

}