@import url('https://fonts.googleapis.com/css2?family=Spectral');


* {

    font-family: 'Spectral';


}

table, th, td {
    border: 2px solid black;
    color: red;
    font-size: 64px;
    text-align: center;
    width: 100%;
    height: 100%;
    
}

.abuela {
    text-align: center;
    font-size: 64px;
    size: 64px;
    background-color: aliceblue;
    color: red;

}

.patatas {
    text-align: center;
    font-size: 64px;
    color: red;
    background-color: deepskyblue;

}


.logo {
    text-align: center;
    font-size: 64px;
    color: red;
    background-color: aliceblue;

}

.quiche {
    text-align: center;
    font-size: 64px;
    color: red;
    background-color: deepskyblue;


}

body {
    
    background-color: cornflowerblue;
    font-family: 'Spectral SC', serif;

}


.taco{

    background-color: deepskyblue;



}

img {

    width: 100%; height: 100%;
    

}

